<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Information Management</title>
</head>

<body>
    <h1>Welcome to our library</h1>
    <form method="POST" action="/save/">
        {% csrf_token %}
        <label for="">Student Name</label>
        <input type="text" name="student_name" id="">
        <button type="submit">Save</button>
    </form>
    <a href="/shop">Shopping</a>
</body>

</html>